#info {
    width: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture {
    width: 315px;
    height: 315px;
    object-fit: contain;
}

h1 {
    font-size: 25px;
    font-weight: 700;
    color: #2B283A;
    margin-top: 20px;
}

.career {
    font-size: 13px;
    font-weight: 400;
    color: #F47D27;
    margin-top: 6px;
}

h6 {
    font-size: 11px;
    font-weight: 400;
    color: #4A4E74;
    margin-top: 9px;
}

nav {
    display: flex;
    margin-top: 17px;
    gap: 17px;
}

a {
    text-decoration: none;
}

nav > a > button {
    display: flex;
    align-items: center;
    width: 115px;
    gap: 8px;
    padding: 9px 18px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    transition: 0.2s ease-in-out;
}

nav > a > button:hover {
    filter: drop-shadow(0 0 0.25em #F47D27);
}

#email {
    background-color: white;
    border: 2px solid #D1D5DB;
    color: #374151;
}

#linkedin {
    background-color: #297FE5;
    border: 2px solid #297FE5;
    color: white;
}