footer {
    width: 315px;
    background-color: #D5D4D8;
    padding: 20px 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 30px;
}

.footer-img {
    transition: 0.2s ease-in-out;
}

.footer-img:hover {
    filter: drop-shadow(0 0 0.5rem white);
    -webkit-filter: drop-shadow(0 0 0.75rem white);
}